.bdtPath
.buildpath
.project
.builaunches/hello.bbj.bui.launch
.dwclaunches/hello.bbj.dwc.launch
.dwclaunches/TaskApp.bbj.dwc (1).launch
.metadata/resourcesModel.json
.settings/org.eclipse.core.resources.prefs
